@model TodoList.ViewModels.TodoTask
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Adicionar tarefa</h1>
    <form class="container d-flex justify-content-center gap-2">
        <input type="text" name="task_title" id="task_title">
        <input type="submit" value="Criar">
    </form>
</div>
